<ion-view view-title="main" id='welcomePage'>
  <ion-content class="padding">

  <div class='row'>
  	<div class='col col-center'>
  		<img id='title' src='../img/logo_icon_white.png'>
  	</div>
  </div>

  <div class='row'>
    <h4 class='welcome'>Hi There! Welcome to Speakeasy<h4>
  </div>

  <div class='row'>
    <h4 class='welcome'>Begin by Selecting Your Role Below<h4>
  </div>

  <div class='row'>
    <button class="button welcomeButton" ng-click='gotoMentee()'>
	  I Want to Talk
	</button>
  </div>

  <div class='row'>
   <button class="button welcomeButton" ng-click='gotoMentor()'>
	  I'm a Mentor
	</button>
  </div>

  </ion-content>
</ion-view>