<ion-view view-title="login" id='welcomeMentor'>
    
<ion-content class="padding">
  <div class='row'>
    <img id='welcomeMenteeTitle' src='../img/logo_logo_white.png'>
  </div>

  <div class='row buttonRow'>
    <!-- <p>Don't have an account? <a href='#/signupMentee'>Sign up here</a> -->
    <div class='col'>
      <button class='button' ng-click='gotoLogin()' ng-class='loginButtonClass' >Login</button>
    </div>
    <div class='col'>
      <button ng-class='registerButtonClass' ng-click='gotoRegister()' class='button'>Register</button>
    </div>
  </div>
  
  <ion-slide-box on-slide-changed="slideChanged(index)" show-pager="false">
    <ion-slide>
      <div class='row'>
        <label class="item item-input emailInput">
          <span class="input-label">Email</span>
          <input name="email" ng-model="user.email" type="email">
        </label>
      </div>
      
      <div class='row'>
        <label class="item item-input pwdInput">
          <span class="input-label">Password</span>
          <input name="password" ng-model="user.password" type="password">
        </label>
      </div>

      <div class='row buttonRow' ng-click="login()">
        <button class="button loginButton">
          Login <i><span class='ion-ios-arrow-thin-right'></span></i>
        </button>
      </div>

    </ion-slide>

    <ion-slide>
      <div class='row'>
        <label class="item item-input emailInput">
          <span class="input-label">First Name</span>
          <input name="password" ng-model="userReg.fName" type="text">
        </label>
      </div>

      <div class='row'>
        <label class="item item-input emailInput">
          <span class="input-label">Last Name</span>
          <input name="password" ng-model="userReg.lName" type="text">
        </label>
      </div>

      <div class='row'>
        <label class="item item-input emailInput">
          <span class="input-label">Username</span>
          <input name="password" ng-model="userReg.username" type="text">
        </label>   
      </div>

      <div class='row'>
        <label class="item item-input emailInput">
          <span class="input-label">Email</span>
          <input name="email" ng-model="userReg.email" type="email">
        </label>
      </div>

      <div class='row'>
        <label class="item item-input emailInput">
          <span class="input-label">Password</span>
          <input name="password" ng-model="userReg.password" type="password">
        </label>
      </div>
      
      <div class='row buttonRow' ng-click="signup()">
        <button class="button loginButton">
          Sign Up <i><span class='ion-ios-arrow-thin-right'></span></i>
        </button>
      </div>
    </ion-slide>
  </div>

  </ion-content>
</ion-view>