/* Empty. Add your own CSS if you like */

/*------------welcome page----------*/
.welcome {
	color: white;
	margin-left: auto;
    margin-right: auto;
    display: block;
}

#welcomePage{
	background-color: #008CFF;
}

#title{
	margin-top: 70px;
	height: 100px;
	width: 100px;
	margin-left: auto;
    margin-right: auto;
    display: block;
}

.welcomeButton {
	background-color: white;
	color: #008CFF;
	margin-left: auto;
    margin-right: auto;
    display: block;
    margin-top: 30px;
    width: 60%;
}


/*------------ mentee login/signup ----------*/
#welcomeMenteeTitle{
	margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
    display: block;
    width: 100%;
    height: 50px;
}

#welcomeMentee{
	background-color: #008CFF;
}

.buttonRow {
	
}

.swipeButtonLogin{
   width: 100px;
   background-color: rgba(255, 255, 255, 0.6);
}

.swipeButtonRegister{
	width: 100px;
	background-color: rgba(255, 255, 255, 0.6);
}

.current{
	background-color: rgba(255, 255, 255, 1);
}

.pwdInput{
	margin-top: 30px;
	color: #008CFF;
	width: 80%;
	border-radius: 5px;
}

/*merge email and pwd inputs..*/
.emailInput{
	margin-top: 30px;
	color: #008CFF;
	width: 80%;
	border-radius: 5px;
}

.usernameInput{
	margin-top: 30px;
	color: #008CFF;
	width: 80%;
	border-radius: 5px;
}

.loginButton{
	margin-top: 30px;
	background-color: transparent;
	color: white;
}

.slide {
	margin-top: 40px;
}


/*------------ mentor login/signup ----------*/

#welcomeMentor {
	background-color: #008CFF;
}

/*------------ mentee home page -------------*/

#noMentor {
	background-color: #008CFF;
}

.mainText {
	color: white;
	margin-left: auto;
    margin-right: auto;
    display: block;
    text-align: center;
}

.titleText {
	margin-bottom: 40px;
}

.mName {
	color: white;
}

.mentorRow {
	margin-top: 20px;
	text-align: center;
}

.mButton {
	background-color: transparent;
	border-color: white;
	border-width: 2px;
	color: white;
	width: 40%;
	font-weight: bold;
}

.mButton:hover{
	width: 45%;
	color: white;
}

/*------------ mentee Home -------------*/
#menteeHome {
 background-color: #008CFF;
}

.chatTitle{
	margin-left: auto;
    margin-right: auto;
    display: block;
    text-align: center;
    color: white;
   	margin-bottom: 65px;
}

.chatItem {
	width: 90%;
	background-color: transparent;
	border-color: white;
	color: white;
}

.chatItem:hover {
	border-color: #3f464c;
	color: #3f464c;
}

.rightArrow {
	margin-left: 75%;
}

/*------------ mentor Home -------------*/

#mentorHome{
	background-color: #008CFF;
}

/*------------ Mentor no Mentee -------------*/
#noMentee {
	background-color: #008CFF;
	color: white;
}

.noMenteeTitle{
	color: white;
	margin-left: auto;
    margin-right: auto;
    display: block;
    text-align: center;
}

#noMenteeText {
	margin-top: 60px;
	color: white;
	text-align: center;
}


/*------------ Mentee Chat -------------*/
#menteeChat{
	background-color: #CBDCEE;
}

.pullRight {
	text-align: right;
}

.pullLeft{
	text-align: left;
}

.footer {
	height: 100px;
	background-color: #008CFF;
}

.textInput {
	width: 150%;
	border-radius: 5px;
}

.send {
	margin-left: 50%;
	width: 100px;
	background-color: transparent;
	border-color: white;
	color: white;
}

.shorter {
	margin-bottom: 50px;
}

/*------------ Mentor Chat -------------*/
#mentorChat {
	background-color: #CBDCEE;
}

/* CHAT BUBBLE STYLING */
.container {
  padding: 5% 5%;
}

/* CSS talk bubble */
.talk-bubble {
	margin: 40px;
  	display: inline-block;
  	position: relative;
	width: 200px;
	height: auto;
	margin-bottom: -40px;
	background-color: lightyellow;
	border-radius: 10px;
}
.border{
  border: 8px solid #666;
}
.round{
  border-radius: 30px;
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;

}

.tri-right.left-top:after{
	content: ' ';
	position: absolute;
	width: 0;
	height: 0;
  	left: -20px;
	right: auto;
  	top: 0px;
	bottom: auto;
	border: 22px solid;
	border-color: lightyellow transparent transparent transparent;
}

.tri-right.right-top:after{
	content: ' ';
	position: absolute;
	width: 0;
	height: 0;
  	left: auto;
	right: -20px;
  	top: 0px;
	bottom: auto;
	border: 20px solid;
	border-color: lightyellow transparent transparent transparent;
}

/* talk bubble contents */
.talktext{
 	padding: 1em;
	text-align: left;
  	line-height: 1.5em;
}
.talktext p{
  /* remove webkit p margins */
  -webkit-margin-before: 0em;
  -webkit-margin-after: 0em;
}





